{
  "root": true,
  "env": {
    "node": true,
    "browser": true,
    "commonjs": true,
    "es6": true,
    "jquery": true
  },
  "ignorePatterns": [
    "dist",
    "docs"
  ],
  "extends": "eslint:recommended",
  "parserOptions": {
    "sourceType": "module",
    "ecmaVersion": 2022
  },
  "rules": {
    "quotes": [
      "error",
      "single"
    ],
    "semi": [
      "error",
      "always"
    ],
    "no-extra-boolean-cast": "warn",
    "no-unused-vars": "warn"
  }
}
