.photoviewer-resizable-handle {
  position: absolute;
  z-index: 1;
}

.photoviewer-resizable-handle-e,
.photoviewer-resizable-handle-w {
  top: 0;
  bottom: 0;
  width: 8px;
  cursor: ew-resize;
}

.photoviewer-resizable-handle-e {
  right: -4px;
}

.photoviewer-resizable-handle-w {
  left: -4px;
}

.photoviewer-resizable-handle-s,
.photoviewer-resizable-handle-n {
  right: 0;
  left: 0;
  height: 8px;
  cursor: ns-resize;
}

.photoviewer-resizable-handle-s {
  bottom: -4px;
}

.photoviewer-resizable-handle-n {
  top: -4px;
}

.photoviewer-resizable-handle-se,
.photoviewer-resizable-handle-sw,
.photoviewer-resizable-handle-ne,
.photoviewer-resizable-handle-nw {
  width: 8px;
  height: 8px;
}

.photoviewer-resizable-handle-se {
  right: -4px;
  bottom: -4px;
  cursor: nwse-resize;
}

.photoviewer-resizable-handle-sw {
  bottom: -4px;
  left: -4px;
  cursor: nesw-resize;
}

.photoviewer-resizable-handle-ne {
  top: -4px;
  right: -4px;
  cursor: nesw-resize;
}

.photoviewer-resizable-handle-nw {
  top: -4px;
  left: -4px;
  cursor: nwse-resize;
}
